language: ruby
rvm:
  - 2.1.3
before_install: sudo apt-get install vim-gtk
before_script:
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
script:
  - bundle exec rspec
notifications:
  webhooks:
    secure: jgTKkKPCPegdOT2ga59/zqJ9yQDeLwfK2gQn3qzI2ImwmXxcJXsO1BowUtLzKssuc6f8aToKTjqzWdJFhnida7aqI22xHoNc0laPbzCBQpRthFCfepiFQYxAcUYAa4surW21EZxTbzLx5ISqPBvTf43yPJ/TKDh9Pi6tBllhrIM=
